@import './theme/vars';
html,
body {
  font-size: 10px;
  width: 100vw;
  max-width: 100%;
}

/* input range override */
.input-range__label--value {
  display: none;
}
.input-range__label {
  font-family: $font-avenir !important;
  font-size: 1.2rem !important;
}

.input-range__label-container {
  left: 0 !important;
}
.input-range__slider {
  background: $color-black !important;
  border: 1px solid $color-black !important;
}

.input-range__track {
  background: $color-grey-light !important;
}
.input-range__track--active {
  background: $color-black !important;
}
