@import '@styles/theme.scss';

.bigSection {
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 50vw;
  padding: 10vh 4rem;
  height: 100%;
  box-sizing: border-box;
  @include respond-below(md) {
    max-width: 100%;
  }
  &.align-center {
    text-align: center;
    align-items: center;
  }
  &.align-right {
    text-align: right;
    align-items: flex-end;
  }
  &.align-left {
    text-align: left;
    align-items: flex-start;
  }
}

.primary {
  background-color: $color-primary-dark;
  --color-text: #{$color-white};
}

.primaryLight {
  background-color: $color-primary-light;
  --color-text: #{$color-black};
}

.secondary {
  background-color: $color-secondary;
  --color-text: #{$color-black};
}

.secondaryLight {
  background-color: $color-secondary-light;
  --color-text: #{$color-black};
}

.tertiary {
  background-color: $color-tertiary;
  color: $color-black;
  height: fit-content;
  gap: 2rem;
  padding: 6rem;
}

.title {
  // @include typo-h2;
  @include typo-h-uppercase;
  font-size: 2rem;
  letter-spacing: 0.25em;
  color: var(--color-text);
  margin-top: 19%;
}

.subtitle {
  @include typo-h-uppercase;
  color: var(--color-text);
}

.subSections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem;
}

.wysiwyg {
  flex: 1;
  font-size: 5.6rem;

  line-height: normal;
  color: var(--color-text);
  margin-top: 4rem;
  font-family: $font-caudex;
  a {
    font-size: 5.6rem;
    color: var(--color-text);
    text-decoration: none;
  }
  @include respond-below(md) {
    font-size: 3rem;
    a {
      font-size: 3rem;
    }
  }
}
