@import '@styles/theme.scss';

// Your style here

@keyframes fade-up {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.list {
  width: 80%;
  display: flex;
  &.grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, calc(50% - 4rem)));
    @include respond-above(lg) {
      grid-template-columns: repeat(auto-fit, minmax(300px, calc(33% - 4rem)));
    }
  }

  @include respond-below(md){
    width: 90%;
    margin: auto;
    &.grid{
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }
}

.filtersContainer {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 2rem;
  box-sizing: border-box;
  @include respond-below(md) {
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }
}

.main {
  width: 100%;
  height: fit-content;
  display: flex;
  @include respond-below(md) {
    flex-direction: column;
  }
}

.item {
  transform: translateY(4rem);
  opacity: 0;
  @for $i from 0 through 50 {
    &[data-index='#{$i}'] {
      animation: fade-up 0.6s calc((#{$i} * 0.2s) + 0.1s) forwards ease;
    }
  }
}

.emptyList {
  width: 100%;
  display: flex;
  justify-content: center;
  p {
    width: 60%;
    text-align: center;
    font-size: 2.4rem;
    color: $color-black;
    font-family: $font-avenir;
    line-height: 1.4em;
  }
}

.clearAll {
  padding-top: 1rem;
}

.clearAllBtn {
  font-size: 1.4rem;
  font-family: $font-avenir;
  color: $color-black;
  background-color: $color-white;
  border: none;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.5;
  }
}


.productFiltersDesktop {
  height: fit-content;
  width: 100%;
  max-width: 23rem;
  @include respond-below(md) {
    display: none;
  }
}
.productFiltersMobile {
  width: 100%;
  @include respond-above(md) {
    display: none;
  }
}

.openFiltersModalButton {
}


.isEmptyList{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
}
.isEmptyText{
  text-align: center;
  font-size: 1.4rem;
  font-family: $font-avenir;

}