@import '@styles/theme.scss';

.container {
  min-width: 15rem;
  width: fit-content;
  --bar-height: 2px;
  --slider-radius: 16px;
}

.sliderContainer {
  width: 100%;
  height: 2px;
  position: relative;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.value {
  font-size: 1.3rem;
  font-family: $font-avenir;
  line-height: 1.6em;
  color: rgba($color-black, 0.6);
}

.bar {
  height: var(--bar-height);
  background-color: $color-grey-light;
  position: absolute;
  width: 100%;
  z-index: 2;
  border-radius: 5px;
}

.barRange {
  height: var(--bar-height);
  background-color: $color-grey-dark;
  position: absolute;
  left: var(--min-percentage);
  right: calc(100% - var(--max-percentage));
  width: auto;
  z-index: 3;
  will-change: left, right;
}

.slider {
  height: var(--slider-radius);
  width: var(--slider-radius);
  background-color: $color-grey-dark;
  border-radius: 50%;
  position: absolute;
  top: calc(((var(--slider-radius) / 2) * -1) + 1px);
  &.isDragged {
    transform: scale(1.2);
  }
}

.sliderMin {
  left: 0;
}
.sliderMax {
  right: 0;
}
