@import '@styles/theme.scss';

// Your style here

.container {
  width: 100%;
  padding: 0 5vw;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  color: $color-black;
  @include respond-below(md) {
    flex-direction: column;
  }
}
.left {
  width: 50%;
  @include respond-below(md) {
    width: 100%;
  }
}

.right {
  width: 50%;
  padding-left: 3.2rem;
  @include respond-below(md) {
    padding-left: 0;
    width: 100%;
  }
}

.title {
  font-size: 3.2rem;
  line-height: 1.2em;
  font-family: $font-caudex;
  padding-top: 1.6rem;
}
.price {
  font-size: 2rem;
  line-height: 1.2em;
  font-family: $font-avenir;
}

.id {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: $font-avenir;
  font-weight: 100;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 1.4rem;
}

.description {
  @include typo-paragraph;
  font-family: $font-avenir;
  font-weight: 100;
}

.secondaryInfos {
  padding-top: 2.4rem;
}

.metaFieldset {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.metaLabel {
  font-size: 1.4rem;
  font-family: $font-avenir;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 8px;
  color: $color-black;
}
