@import '@styles/theme.scss';

// Your style here

.filters {
  background-color: $color-white;
  width: 100%;
  max-width: 23rem;
  @include respond-below(md) {
    max-width: 80%;
    margin: auto;
  }
}

.filtersTitle {
  font-size: 2.6rem;
  text-transform: uppercase;
  color: $color-black;
  font-family: $font-avenir;
  line-height: 1.2em;
  margin-bottom: 2rem;
  &.hasIcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.clearAll{
  width: 100%;
  display: flex;
  justify-content: center;
}
.clearAllBtn{
  border: 1px solid $color-black;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.1s ease;
  &:hover, &:focus{
    transform: translateY(-2px);

  }
}

.priceInputContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding:  0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
