@import '@styles/theme.scss';

// Your style here

.cta {
  display: flex;
  gap: 1.6rem;
  padding: 0.5rem 0;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.6rem;
  font-family: $font-avenir;
  line-height: 1.8em;
  color: $color-primary-light;
}
