@import '@styles/theme.scss';

// Your style here

.img {
  width: 100%;
  height: 100%;
  display: inline;
}

.container {
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 2.4rem;
}

.paginationItem {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: $color-grey-light;
  cursor: pointer;
  &.active {
    background-color: $color-black;
  }
}
