@import "@styles/theme.scss";

// Your style here


.inputContainer {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4rem;
    width: 100%;
    max-width: 50rem;
    padding-bottom: 2rem;
    @include respond-below(md) {
      max-width: 100%;
    }
  }
  
  .input{
    padding: 2rem 2.6rem;
    flex: 2;
    font-family: $font-avenir;
    border: none;
    border-bottom: 1px solid $color-black;
  }
  
  .buttonContainer{
    flex:1; 
    display: flex;
  }

  .error{
    color: $color-error;
    font-size: 1.4rem;
    font-family: $font-avenir;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }