@font-face {
  font-family: 'Avenir LT';
  src: url('~@assets/fonts/avenir-lt.woff2');
}

@font-face {
  font-family: 'Avenir LT';
  src: url('~@assets/fonts/avenir-heavy.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Caudex';
  src: url('~@assets/fonts/caudex.woff2');
}

@font-face {
  font-family: 'Rozha One';
  src: url('~@assets/fonts/rozha-one.woff2');
}
