// fonts
$font-avenir: 'Avenir LT';
$font-caudex: 'Caudex';
$font-rozha-one: 'Rozha One';
$font-helvetica: 'Helvetica';

// colors
$color-black: #181818;
$color-white: #ffffff;
$color-grey-dark: #181818;
$color-grey-light: #b3b2b2;
$color-primary-dark: #662a18;
$color-primary-light: #993f24;
$color-secondary: #b87939;
$color-secondary-light: #fcf2e9;
$color-tertiary: #c9c6dc;

$color-product-gold: #c0ad3f;
$color-product-silver: #b8b8b8;

// borders
$thin-border: 1px solid rgba($color-black, 0.2);

// breakpoints
$breakpoints: (
  xxs: 375px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);
