@import '@styles/theme.scss';

// Your style here

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: var(--max-height-cart);
  overflow-y: scroll;
}

.item {
  width: 100%;
}
