@import '@styles/theme.scss';

// Your style here

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: var(--max-height-cart);
  overflow-y: scroll;
  &.simple{

  }
  &.advanced{
    overflow: unset;
  }
}

.item {
  width: 100%;
}

.empty {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  &.simple {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
